/* Estilos para el AppBar */
.appBar {
  background-color: #001f3e;
  height: 64px;
}

/* Estilos para posición absoluta */
.absolute {
  position: absolute;
}

/* Estilos para posición fija */
.fixed {
  position: fixed;
}

/* Estilos para el contenedor */
.container {
  min-height: 48px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
}

/* Estilos para el AppBar transparente */
.transparent {
  background-color: transparent !important;
  box-shadow: none;
  color: #FFFFFF;
}